<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>

    <script src="https://cdn.jsdelivr.net/npm//vega@3.2"></script>
    <script src="https://cdn.jsdelivr.net/npm//vega-lite@2.4.1"></script>
    <script src="https://cdn.jsdelivr.net/npm//vega-embed@3.0"></script>

</head>
<body>
    {% load django_altair %}

    <div>
        {% render_chart chart %}
    </div>
</body>
</html>
